.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.h-centered {
  text-align: center;
}

.password-generator {
  padding: 20px;
  width: 300px;
}

.password-generator h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.password-generator input[type='text'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
}

.password-generator button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.password-generator button:hover {
  background-color: #0056b3;
}

.password-options {
  display: flex;
  margin: 10px 0;
}

.password-options label {
  font-size: 16px;
  margin-left: 10px;
}

.password-options input[type='range'] {
  width: 100%;
  margin-left: 10px;
}

.password-options input[type='checkbox'] {
  margin-right: 5px;
}
